header{
    background-color: #e16120;
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    padding:5px 10px;
}
   
.logo{
    display:flex;
    justify-content: space-evenly;
    gap:10px;
    align-items: center;
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



